.bike-card {
  position: relative;
  width: 30.4%;
}

.bike-card--road {
  padding-top: 10px;

  &::after {
    content: "";
    display: block;
    height: 180px;
    width: 180px;
    position: absolute;
    top: 166px;
    right: 221px;
    z-index: 0;
    border: $green-accent solid 27px;
    border-radius: 50%;
  }
}

.bike-card--mountain {
  padding-top: 39px;

  &::before {
    content: "";
    display: block;
    height: 47px;
    width: 47px;
    position: absolute;
    z-index: 2;
    left: -19px;
    top: 21px;
    border: 8px solid $green-accent;
  }

  &::after {
    content: "";
    display: block;
    height: 47px;
    width: 47px;
    position: absolute;
    z-index: 2;
    right: -23px;
    top: 582px;
    border: 8px solid $green-accent;
  }
}

.bike-card--kid {
  &::after {
    content: "";
    display: block;
    height: 95px;
    width: 95px;
    position: absolute;
    top: -32px;
    right: -36px;
    z-index: 2;
    border: $green-accent solid 17px;
    border-radius: 50%;
  }
}

.bike-card img {
  position: relative;
  z-index: 1;
}

.bike-card p {
  width: 75%;
  margin: 0;
  margin-left: 13%;
  padding-top: 16px;
  padding-left: 7px;
  font-size: 22px;
  line-height: 34px;
  font-weight: 600;
}

@media (max-width: $tablet-width) {
  .bike-card {
    width: auto;
    padding-bottom: 50px;
  }

  .bike-card p {
    margin: 0;
    width: 100%;
    padding-top: 15px;
  }

  .bike-card--mountain {
    padding-top: 0;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .bike-card--road {
    padding-top: 0;

    &::after {
      height: 127px;
      width: 127px;
      border: $green-accent solid 18px;
      top: 200px;
      left: -38px;
    }
  }

  .bike-card--kid {
    &::after {
      height: 68px;
      width: 68px;
      top: -20px;
      right: -25px;
      border: $green-accent solid 13px;
    }
  }
}

@media (max-width: $mobile-width) {
  .bike-card {
    padding-bottom: 44px;
  }

  .bike-card p {
    padding-top: 17px;
  }

  .bike-card--road {
    &::after {
      top: 200px;
      left: -25px;
    }
  }

  .bike-card--kid {
    &::after {
      right: -16px;
    }
  }
}

@media (max-width: $transition-point-max) {
  .bike-card--mountain {
    &::after {
      display: none;
    }
  }
}
