.connection {
  padding-top: 32px;
  padding-bottom: 98px;
  margin-left: 27%;
  margin-right: 28.5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.connection__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
}

.connection__img {
  margin-right: 15px;
}

.connection__contact {
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

@media (max-width: $tablet-width) {
  .connection {
    margin-left: 13.6%;
    margin-right: 15%;
  }
}

@media (max-width: $mobile-width) {
  .connection {
    padding-bottom: 18px;
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
    margin-left: 9.6%;
    margin-right: 7%;
  }

  .connection__item {
    padding-bottom: 22px;

    &:first-child {
      padding-right: 0;
    }

    &--phone {
      margin-right: 18px;
    }
  }
}
