.connection {
  padding-top: 32px;
  margin-left: 14.7%;
  margin-right: 8.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 98px;
}

.connection div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
  padding-right: 9.7%;
}

.connection div svg {
  margin-right: 15px;
}

.connection div a {
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);

  &:hover {
    color: $green-accent;
  }
}

@media (max-width: $tablet-width) {
  .connection {
    margin-left: 13.6%;
    margin-right: 15%;
    justify-content: space-between;
  }

  .connection div {
    padding-right: 0;
  }
}

@media (max-width: $mobile-width) {
  .connection {
    padding-bottom: 18px;
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
    margin-left: 9.6%;
    margin-right: 7%;
  }

  .connection div {
    padding-bottom: 22px;
    padding-right: 0;

    &:first-child {
      padding-right: 0;
    }
  }

  .connection__item {
    &--phone {
      margin-right: 18px;
    }
  }
}
