.connection {
  padding-top: 41px;
  padding-bottom: 98px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.connection__item {
  display: flex;
  flex-direction: row;
  align-items: center;

  &:first-child {
    padding-right: 90px;
  }
}

.connection__img {
  margin-right: 15px;
}

.connection__contact {
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
