.contacts {
  padding-top: 249px;
  text-align: center;
}

.contacts__head {
  margin: 0;
  margin-left: 38%;
  margin-right: 30%;
  width: 24%;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  color: #1f1f1f;
}

.contacts__desc {
  width: 47%;
  margin: 0;
  margin-left: 25.9%;
  padding-top: 30px;
  padding-bottom: 41px;
  font-size: 17px;
  line-height: 31px;
  font-weight: 400;
  font-style: normal;
  color: rgba(0, 0, 0, 0.7);
}

@media (max-width: $tablet-width) {
  .contacts {
    padding-top: 154px;
  }

  .contacts__head {
    font-size: 24px;
  }

  .contacts__desc {
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 4.9%;
    width: 90%;
  }
}

@media (max-width: $mobile-width) {
  .contacts {
    padding-top: 119px;
  }

  .contacts__head {
    font-size: 18px;
    margin: 0;
    width: 100%;
  }

  .contacts__desc {
    margin-left: 7.9%;
    width: 84%;
  }
}
