.contacts {
  padding-top: 151px;
  text-align: center;
}

.contacts__head {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  color: #1f1f1f;
}

.contacts__desc {
  padding-top: 20px;
  padding-bottom: 41px;
  font-size: 17px;
  line-height: 31px;
  font-weight: 400;
  font-style: normal;
  color: rgba(0, 0, 0, 0.7);
}
