.custom-input {
  padding-bottom: 20px;
}

.custom-input__input {
  background: $white;
  border: 1px solid #c9ccd4;
  border-radius: 4px;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 29px;
  width: 100%;
  padding-right: 20px;
}
