.custom-input {
  padding-bottom: 18px;
}

.custom-input__input {
  background: $white;
  border: 1px solid #c9ccd4;
  border-radius: 4px;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 29px;
  width: 100%;
  padding-right: 20px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

@media (max-width: $tablet-width) {
  .custom-input {
    padding-bottom: 20px;
  }

  .custom-input__input {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 23px;
  }
}

@media (max-width: $mobile-width) {
  .custom-input__input {
    padding-left: 25px;
  }
}
