.global-button {
  font-size: 15px;
  line-height: 21px;
  font-weight: 600;
  color: $black;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 48px;
  padding-right: 48px;
  width: 100%;
  border: none;
  background-color: $green-accent;
  border-radius: 6px;
}
