.main-nav {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.main-nav__container {
  min-height: 83px;
  width: 71%;
  display: flex;
  align-items: center;
}

.main-nav__container div {
  display: none;
}

.main-nav__list {
  padding-left: 2%;
  padding-right: 1.5%;
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 99%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-nav__list li a svg {
  display: none;
}

.main-nav__list li {
  padding-bottom: 9px;
}

.main-nav__list li a {
  text-decoration: none;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
  color: $white;

  &:hover {
    color: $green-accent;
  }
}

@media (max-width: $tablet-width) {
  .main-nav__list li a {
    display: block;
    padding-top: 17px;
    padding-bottom: 6px;
    padding-left: 15px;
    color: #48494d;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    width: 100%;
  }

  .main-nav__container div a {
    display: none;
  }

  .main-nav__list {
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    padding-bottom: 138px;
    flex-direction: column;
    border-bottom: none;
  }

  .main-nav__list li {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    background-color: #f6f6f6;
  }

  .main-nav__container {
    width: auto;
    min-height: 50px;
    display: block;
    background-color: $white;
  }

  .main-nav__container div {
    display: flex;
    width: auto;
  }

  .main-nav__container div button {
    margin-left: auto;
  }

  .main-nav__list li a svg {
    display: block;
    position: absolute;
    top: 30%;
    right: 5%;
  }

  .main-nav--nojs {
    position: static;
  }

  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--closed .main-nav__container {
    background-color: transparent;
  }

  .main-nav--closed .main-nav__container div a {
    display: block;
    padding-top: 25px;
    padding-left: 21px;
  }

  .main-nav--closed .main-nav__container div button {
    display: block;
  }

  .main-nav--nojs .main-nav__container div button {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
    padding-top: 100px;
  }

  .main-nav--nojs .main-nav__container div a {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .main-nav--closed .main-nav__container div a {
    padding-top: 25px;
    padding-left: 16px;
  }
}
