.main-nav {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.main-nav__container {
  min-height: 62px;
  display: flex;
  align-items: center;
}

.main-nav__wrapper {
  display: none;
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-nav__arrow {
  display: none;
}

.main-nav__item {
  padding-bottom: 9px;
}

.main-nav__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
  color: $white;
}
