.map {
  text-align: center;
  background-image: url("../../img/map-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.map__pic {
  border: none;
}
