.promo {
  background-image: url("../../img/promo-desktop.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 825px;
  position: relative;
  background-color: $background-dark;
}

.promo__form p {
  margin: 0;
  width: 100%;
  padding-bottom: 18px;
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  color: $white;
  text-align: center;
}

.promo__container {
  width: 71.4%;
  padding-top: 25.6%;
  padding-bottom: 15%;
  display: flex;
  flex-direction: row;
  min-height: inherit;
  justify-content: space-between;
}

.promo__about-us {
  width: 42%;
}

.promo__about-us h1 {
  margin: 0;
  padding-top: 26px;
  padding-bottom: 24px;
  font-size: 46px;
  line-height: 64px;
  font-weight: 700;
  color: $white;
}

.promo__about-us p {
  margin: 0;
  padding: 0;
  color: $white;
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
}

.promo__form {
  padding-top: 8px;
  width: 37.2%;
}

@media (max-width: $tablet-width) {
  .promo {
    min-height: 340px;
    background-image: url("../../img/promo-tablet.jpg");
    background-size: contain;
  }

  .promo__about-us h1 {
    font-size: 30px;
    line-height: 42px;
    padding-top: 0;
    padding-bottom: 20px;
  }

  .promo__about-us p {
    font-size: 18px;
    line-height: 32px;
  }

  .promo__about-us a {
    display: none;
  }

  .promo__container {
    padding-top: 0;
    padding-bottom: 0;
    width: auto;
    display: flex;
    flex-direction: column;
  }

  .promo__about-us {
    margin: 0 auto;
    padding-top: 134px;
    padding-bottom: 80px;
    width: 55%;
    text-align: center;
  }

  .promo__form {
    padding-top: 70px;
    width: 100%;
    background-color: $white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .promo__form p {
    width: 44%;
    font-size: 18px;
    padding-bottom: 30px;
    color: $black;
  }
}

@media (max-width: $mobile-width) {
  .promo {
    background-image: url("../../img/promo-mobile.jpg");
  }

  .promo__about-us {
    padding-top: 120px;
    padding-bottom: 70px;
    width: 87%;
  }

  .promo__form {
    padding-top: 70px;
  }

  .promo__form p {
    padding-bottom: 20px;
    width: 287px;
  }
}
