.video {
  margin-top: 33px;
  text-align: center;
  background-color: $background-dark;
  min-height: 706px;
}

.video__player img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.video__wrapper {
  position: relative;
}

.video__player {
  position: relative;
  min-height: 424px;
}

.video div h2 {
  width: 37%;
  margin: 0;
  margin-left: 31.2%;
  margin-right: 20%;
  padding-top: 120px;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  color: $white;
}

.video div p {
  width: 27%;
  margin: 0 auto;
  padding-bottom: 57px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: $white;
}

.video__button {
  position: absolute;
  top: 54%;
  left: 47.4%;
  display: block;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background-color: $green-accent;
  border: none;

  &::after {
    content: "";
    position: absolute;
    top: 35%;
    left: 61%;
    transform: translateX(-50%);
    border: 9px solid transparent;
    border-left: 12px solid #070707;
  }

  &--is-active {
    border: 2px solid #070707;
  }

  &:hover {
    border-color: $white;
  }
}

@media (max-width: $tablet-width) {
  .video {
    min-height: 413px;
    margin-top: 0;
  }

  .video__player {
    min-height: 197px;
  }

  .video div h2 {
    padding-top: 70px;
    font-size: 24px;
  }

  .video div p {
    padding-bottom: 40px;
    width: 60%;
  }

  .video__player button {
    width: 91px;
    height: 91px;
    top: 48.4%;
    left: 44%;

    &::after {
      border: 13px solid transparent;
      border-left: 17px solid #070707;
    }
  }
}

@media (max-width: $mobile-width) {
  .video {
    min-height: 384px;
    padding-top: 83px;
    position: relative;
  }

  .video__player img {
    position: static;
    transform: none;
    top: 42%;
  }

  .video div h2 {
    width: 95%;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 0;
  }

  .video div p {
    width: 95%;
    padding-bottom: 0;
  }

  .video__player {
    min-height: 127px;
    width: 288px;
    position: absolute;
    top: 271px;
    left: 50%;
    transform: translateX(-50%);
  }

  .video__player button {
    width: 65px;
    height: 65px;
    top: 47px;
    left: 112px;

    &::after {
      border: 10px solid transparent;
      border-left: 13px solid #070707;
    }
  }
}
